@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of
  * content. Table of content is use display the overall tree structure of your
  * Layout.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Font class declaration
  2. HTML5 Boilerplate Code
  3. Helper Classes
  4. PRDXN's custom styles
    4.1. Body
    4.2. Header
    4.3. Main
    4.4. Footer
  5. Media Queries
  6. Print Styles
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following color code and add your own as this is just and
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following typography and add your own as this is just and
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON
   ========================================================================== */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, cite, code,
del, dfn, img, ins, kbd, q,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 100%;
  font: inherit;
  outline: 0;
  vertical-align: baseline;
}

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before,
blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define visible focus styles!
:focus {
    outline: ?????;
} */

/* 1.2. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

/* This is just an example. You have to replace it with the font class you will be using for the project. */
.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

@font-face { 
 font-family: 'leaguegothic'; 
 src:  url(../vendors/league-gothic/LeagueGothic-CondensedRegular.otf) format('opentype'); 
}

/* ==========================================================================
   2. HTML5 Boilerplate Code
   ========================================================================== */
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea { color: #222; }

html {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

audio,
canvas,
img,
video { vertical-align: middle; }

textarea { resize: vertical; }

.browsehappy {
	padding: 0.2em 0;
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
}

/* ==========================================================================
   3. Helper classes
   ========================================================================== */

/* For image replacement. */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  width: 0;
  height: 150%;
  display: block;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide visually and from screenreaders, but maintain layout. */
.invisible { visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* Contain floats: h5bp.com/q */
.clearfix:after { clear: both; }

.clearfix { *zoom: 1; }


/* ==========================================================================
   4. PRDXN's custom styles
   ========================================================================== */
/*
    Author: PRDXN;
    Company Website: http://www.prdxn.com;
*/

/* 4.1. Body
   ========================================================================== */
body { background-color: #3c0902; }

.container { 
  width: 100%;
  background: url(../images/back.png) no-repeat;
}

.wrapper {
  width: 977px;
  margin: 0 auto;
}

/* 4.2. Header
   ========================================================================== */
.top-bar {
  width: 100%;
  padding: 5px 0;
  box-sizing: border-box;
  background: url(../images/header.png) no-repeat;
}

.face {
  width: 47px;
  height: 19px;
  display: inline-block;
  vertical-align: top;
  text-indent: -9999px;
  background: url(../images/sprite.png) no-repeat 0 0;
}

.k {
  width: 35px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
  text-indent: -9999px;
  background: url(../images/sprite.png) no-repeat -50px -1px;
}

.top-bar > .wrapper > a:hover { background-color: #000; }

.top-bar span > a {
  width: 100%;
  height: 100%;
  display: block;
  font: 16px 'LeagueGothic';
  color: #e9af2a;
  text-align: left;
  text-decoration: none;
}

.top-bar span > a:hover { background-color: #000; }

.top-bar span {
  margin: 0 0 0 28px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}

.top-bar span > a > img { margin: 0 0 4px 2px; }

.shopping {
  margin: -3px 0 0 0;
  float: right;
}


.shopping > li {
  margin: 0 2px 0;
  display: inline-block;
  color: #fff; 
}

nav { margin: 10px 0; }

nav ul li {
  margin: 0 20px 0 0;
  display: inline-block;
  font-size: 16px;
}

nav ul li:last-child { margin: 0; }

nav ul li a {
  display: block;
  font: 400 21px 'leaguegothic';
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

nav li a:hover { text-decoration: underline; }

h1 {
  width: 555px;
  height: 135px;
  margin: 45px 0 29px -30px;
  display: block;
  text-indent: -9999px;
  background: url(../images/logo.png) no-repeat;
  background-size: contain;
}

h1 a {
  width: 100%;
  height: 100%;
  display: block;
}

/* 4.3. Main
   ========================================================================== */
.top-content div:first-child > span {
  vertical-align: middle;
  color: #fff;
  font-family: 'LeagueGothic';
  font-size: 31px;
  line-height: 40px;
  text-transform: uppercase;
}

.top-content div + div {
  width: 301px;
  position: relative;
  background-color: #260b08;
}

.top-content div + div span {
  width: 193px;
  margin: 24px 0 0 16px;
  display: inline-block;
  color: #fff;
  font: 11px 'Arial';
  line-height: 15px;
}

.top-content div + div span a {
  color: #e1b653;
  text-decoration: none;
}

.top-content div + div img {
  margin: 35px 0 0 16px;
  vertical-align: top;
}

.top-content div + div .redio {
  margin: 0;
  position: absolute;
  left: -15px;
  bottom: -25px;
}

.top-content div + div .follow {
  width: 71px;
  margin: 17px 15px 13px 0;
  display: block;
  float: right;
  background: url(../images/button_bg.png) no-repeat;
  color: #e1b653;
  font: 18px 'LeagueGothic';
  line-height: 34px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.bottom-content h2 {
  width: 309px;
  padding: 51px 34px 47px 32px;
  box-sizing: border-box;
  display: inline-block;
  background-color: #6f5d59;
  color: rgba(255, 255, 255, 0.14);
  font: 52px 'LeagueGothic';
  line-height: 50px;
  text-align: center;
}

.bottom-content div {
  width: 309px;
  display: inline-block;
}

.bottom-content div + div {
  width: 290px;
  display: inline-block;
}

/* 4.4. Footer
   ========================================================================== */
footer { background-color: #1f0400; }

.footer-left { 
  width: 580px;
  padding: 15px 0 0;
  display: inline-block;
  vertical-align: top;
}

.footer-right { 
  width: 390px;
  display: inline-block;
  vertical-align: top;
}

.footer-left  ul li {
  margin: 0 20px 0 0;
  display: inline-block;
  font-size: 16px;
}

.footer-left  ul li:last-child { margin: 0; }

.footer-left  ul li a {
  display: block;
  font: 400 21px 'leaguegothic';
  color: #6b5a57;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-left li a:hover { text-decoration: underline; }

.footer-left img { 
  margin: 5px 0 0;
  vertical-align: top;
}

.footer-left div {
  width: 404px;
  margin: 0 0 0 8px;
  display: inline-block;
  color: rgba(157, 157, 157, 0.5);
  font: 10px 'Arial';
}

.footer-left div a { color: rgba(157, 157, 157, 0.5); }

.footer-left div p { line-height: 20px; }

.footer-left div span em { text-decoration: underline; }

.footer-left div ul li { margin: 5px 3px 0 0; }

.footer-left div li a {
  padding: 0 5px 0 0;
  border-right: 1px solid;
  font: 10px 'Arial';
  text-decoration: underline;
  text-transform: capitalize;
}

.footer-left div li:last-child a { border-right: none; } 

.footer-right li .facebook {
  width: 22px;
  height: 22px;
  display: block;
  background: url('../images/footer-social.png') no-repeat 0 0;
}

.footer-right li .twitter {
  width: 23px;
  height: 23px;
  display: block;
  background: url('../images/footer-social.png') no-repeat 0 -27px;
}

.footer-right li .youtube {
  width: 23px;
  height: 23px;
  display: block;
  background: url('../images/footer-social.png') no-repeat 0 -54px;
}

.footer-right ul {
  width: 35px;
  margin: 3px 0 0;
  display: inline-block;
  vertical-align: top;
}

.footer-right ul li { padding: 8px 0 0; }

.footer-right .navigation { 
  margin: 0;
  border-right: 1px solid #e9af2a;
  text-align: center;
}

.footer-right .navigation li {
  border-bottom: 1px solid #e9af2a;
  padding: 0 0 8px 0;
}

.footer-right div h3 {
  color: #fff;
  font: 14px 'LeagueGothic';
  text-transform: uppercase;
}

.footer-right div span {
  margin: 5px 0;
  display: block;
  color: #fff;
  font-family: Arial;
  font-size: 10px;
}

.footer-right div {
  width: 135px;
  margin: 30px 20px 0 10px;
  display: inline-block;
}

.footer-right > img { vertical-align: top; }

/* ==========================================================================
   5. Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   6. Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
